:root{
  --dark-navy: #13124F;
  --indigo: #1B1B6C;
  --violet: #352BA5;
  --pink: #F61067;
  --green: #2AD392;
  --gray: #9090A5;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(29, 28, 28);
}

iframe {
  width: 100%;
  border-radius: 10px;
}

.div1{
    background-color: var(--indigo);
    color: white;
    padding-bottom: 0;
    padding-top: 10px;
}

.div1 img{
    float: left;
}

.div2{
    background-color: var(--dark-navy);
    color: white;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.div2 h1{
    font-size: 6cap;
}
.div2 button{
    background-color: var(--pink);
    color: white;
    padding: 5px;
    border: 0;
    font-size: 12px;
}
 .badge {
      background-color: #352BA5; /* Blue circle */
      border-radius: 50%;
      padding: 4px 10px;
      font-size: 14px;
      margin-left: 10px;
    }
.div3{
    background-color: white;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.div3 h{
    font-size: 30px;
}

.div3_a{
    background-color: var(--gray);
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    color: white;
    padding: 10px;
}

.div3_r{
    color: white;
}

.div3_r1{
    background-color: var(--pink);
    margin-top: 20px;
    align-items: center;
    height: 25px;
}.div3_r1 span{
    display:flex;
    justify-content: center;
}
.div3_r2{
    background-color: var(--gray);
    margin-top: 20px;
    padding-left: 10px;
}
.div3_r3{
    background-color: var(--dark-navy);
    padding: 15px;
}
.div3_r3 input{
    width: 100%;
    background-color: var(--indigo);
    border-top: 2px solid var(--gray);
    border-bottom: 4px solid var(--gray);
    border-left: 0px ;
    border-right: 0px;
    margin-bottom: 20px;
}
.div3_r3 button{
    width: 100%;
    background-color: var(--pink);
    height: 30px;
}
.div3_r4{
    background-color: var(--indigo);
    text-align: center;
    height: 30px;
}


.div3_r5{
    border: 1px solid var(--gray);
    padding: 15px;
    margin-top: 20px;
    color: black;
}


u{
    font-size: 12px;
}

.meter1{
    float: left;
    background-color: var(--pink);
    width: 70%;
    height: 7px;
}
.meter2{
    float: left;
    background-color: var(--green);
    width: 30%;
    height: 7px;
}

.cool{
     display:inline-block;
    background-color: var(--pink);
    color: white;
    width: 48%;
    margin-top: 10%;
    border: 2px solid #F61067;
    text-align: center;
}

.lame{
    display:inline-block;
    border: 2px solid #2AD392;
    color: var(--green);
    width: 48%;
    margin-left: 2%;
    text-align: center;
    
}

.div4{
    background-color: var(--dark-navy); 
    color: white;
    padding:15px;
    padding-bottom: 0;
}

img{
    height: 20px;
}